<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Kava
      <div float-right><small><ion-icon name="contact"></ion-icon> {{user_data.user.name}}</small></div>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card color="secondary">
    <ion-card-header>
      <p>Total Expenses</p>
    </ion-card-header>
    <ion-card-content text-center>
      <h1>{{total | currency:'KES '}}</h1>
    </ion-card-content>
  </ion-card>



    <ion-list lines margin-bottom>
      <ion-list-header>
         Daily Expenses
      </ion-list-header>

      <ion-item *ngFor="let expense of expenses">
        <h2>{{expense.item}}</h2>
        <small>{{expense.created_at | date:'shortDate'}}</small>
        <h3 float-right color="primary"><b>{{expense.amount | currency:'KES '}}</b></h3>
      </ion-item>

      <ion-item *ngIf="expenses.length == 0 && !isLoading" no-lines text-center>
        <h2>No Expenses</h2>
      </ion-item>

      <div *ngIf="isLoading" text-center padding>
        <ion-spinner></ion-spinner>
      </div>



    </ion-list>


  <ion-fab right bottom>
    <button ion-fab color="secondary" (click)="addExpense()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>


</ion-content>
