<ion-header>
    <ion-navbar color="primary">
      <ion-title>Register</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="bg">

    <ion-grid>
      <ion-row>
        <ion-col col-12 col-md-10 col-lg-8 col-xl-6 offset-md-1 offset-lg-2 offset-xl-3>

            <ion-card>
                <ion-card-header>
                  <h1>Create an Account</h1>
                </ion-card-header>

                <ion-card-content>

                <form [formGroup]="registerForm">

                  <ion-list no-lines>

                    <ion-item>
                      <ion-label floating>Full Name</ion-label>
                      <ion-input type="text" formControlName="name"></ion-input>
                    </ion-item>
                    <div class="error" *ngIf="name.touched && name.errors?.required">
                      Full Name is required
                    </div>
                    <div class="error" *ngIf="name.touched && name.errors?.minlength && !name.errors?.required">
                      Minimum length is 3 characters
                    </div>

                    <ion-item>
                      <ion-label floating>Email Address</ion-label>
                      <ion-input type="email" formControlName="email"></ion-input>
                    </ion-item>
                    <div class="error" *ngIf="email.touched && email.errors?.required">
                      Email Address is required
                    </div>
                    <div class="error" *ngIf="email.touched && email.errors?.email && !email.errors?.required">
                        A valid Email Address is required
                    </div>

                    <ion-item>
                      <ion-label floating>Password</ion-label>
                      <ion-input type="password" formControlName="password"></ion-input>
                    </ion-item>
                    <div class="error" *ngIf="password.touched && password.errors?.required">
                      Password is required
                    </div>
                    <div class="error" *ngIf="password.touched && password.errors?.minlength && !password.errors?.required">
                        Minimum characters is 6
                    </div>

                    <ion-item>
                    <ion-label floating>Confirm Password</ion-label>
                    <ion-input type="password" formControlName="confirmPassword"></ion-input>
                    </ion-item>
                    <div class="error" *ngIf="confirmPassword.touched && confirmPassword.errors?.required">
                      Confirm Password is required
                    </div>
                    <div class="error" *ngIf="confirmPassword.touched && registerForm.errors?.notEqual && !confirmPassword.errors?.required">
                        Passwords don't match
                    </div>

                  </ion-list>

                  <ion-row padding>
                    <button ion-button round block icon-end padding color="orange" (click)="register()">
                      Register
                      <ion-icon name="user" color="light-orange"></ion-icon>
                    </button>
                  </ion-row>

                </form>
                <!--<pre> {{registerForm.value | json }}</pre>-->

                </ion-card-content>
              </ion-card>

        </ion-col>

    </ion-row>
    </ion-grid>


  </ion-content>
