page-register {

  h1{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 3em;
    font-weight: lighter;
    color: #fff;
  }

  .error{
    color: red;
    padding-top: 0.2rem
  }


  .bg {
     background:url('../../assets/imgs/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
  }


  .center{
      margin: 10px auto 10px auto;
      width: 200px;
      margin-top: 30px;
  }

  .clear{
    background-color:  #FC664E00;
  }

  img.logo{
    background: #f4f4f4;
    padding: 3px;
    border-radius: 3px;
    border-top: 20px;
  }

  .grid {
    padding: 0;
  }

  [col-xl-6], [col-lg-8], [col-md-10], [col-12]{
    padding: 0;
  }

  .card-header-md, .card-header-ios {
    padding: 10px;
  }

  .card-content-ios {
    padding: 13px 0px 14px;
  }

  .item-md, .item-ios {
    padding-left: 10px;
  }

  .card-ios h1 {
    color: #222;
  }

  .scroll-content {
    /*align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;*/
    text-align: center;
  }

  ion-card.card {
    box-shadow: none;
    background: rgba(232, 230, 230, 0.9px);
    border-radius: 5px;
    z-index: 100;
    /*margin-top: 50px;*/
  }

  .item {
    background: rgba(232, 230, 230, 0px);
    border: medium none;
  }

  ion-input {
    border-bottom: #FD4D73 solid 1px;
  }



}
