page-login {

  h1{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 3em;
    font-weight: lighter;
    color: #fff;
  }

  .card-ios h1 {
    color: #222;
  }

  ion-content{
    background:url('../../assets/imgs/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
  }

    .error{
      color: red;
      padding-top: 0.2rem
    }

  .center{
    margin: 10px auto 10px auto;
    width: 150px;
    margin-top: 30px;
  }

  img.logo{
    background: #f4f4f4;
    padding: 3px;
    border-radius: 3px;
    border-top: 20px;
  }

  .grid {
    padding: 0;
  }

  ion-card.card {
    box-shadow: none;
    background: rgba(232, 230, 230, 0.9px);
    border-radius: 5px;
    z-index: 100;
  }

  .item {
    background: rgba(232, 230, 230, 0px);
    border: medium none;
  }

  .scroll-content {
    text-align: center;
  }

  ion-input {
    border-bottom: #FD4D73 solid 1px;
  }

}
