<!--<ion-header>
  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>-->

<ion-content>

  <div class="center"><img src="assets/imgs/logo.png" alt="Kava" class="logo"></div>

  <ion-grid>
    <ion-row>
      <ion-col col-12 col-md-10 col-lg-8 col-xl-6 offset-md-1 offset-lg-2 offset-xl-3>

        <ion-card>
          <ion-card-header>
            <h1>Login</h1>
          </ion-card-header>

          <ion-card-content>

            <form [formGroup]="loginForm">

              <ion-list no-lines>

                <ion-item>
                  <ion-label floating>Email</ion-label>
                  <ion-input type="text" formControlName="email"></ion-input>
                </ion-item>
                <div class="error" *ngIf="email.hasError('required') && email.touched">
                  Email is required
                </div>
                <div class="error" *ngIf="email.touched && email.errors?.email && !email.errors?.required">
                  A valid Email Address is required
                </div>

                <ion-item>
                  <ion-label floating>Password</ion-label>
                  <ion-input type="password" formControlName="password"></ion-input>
                </ion-item>
                <div class="error" *ngIf="password.hasError('required') && password.touched">
                  Password is required
                </div>

                <div padding-top>
                  <button ion-button round block icon-end color="orange" (click)="login()">
                    Login
                    <ion-icon name="log-in" color="light-orange"></ion-icon>
                  </button>
                </div>

              </ion-list>

              <div padding class="divider"><b>OR</b></div>

              <ion-row>

                <ion-col col-12 col-md-12>
                  <button ion-button outline round block icon-left (click)="register()">
                    <div>Create Account</div>
                  </button>
                </ion-col>

              </ion-row>

            </form>
            <!--<pre> {{loginForm.value | json }}</pre>-->

          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
