
  <ion-menu type="overlay" [content]="content">
    <ion-header text-center>

      <h1>Kava App</h1>
      <p><i>Manage Expenses</i></p>

    </ion-header>

    <ion-content>

      <ion-list>
        <ion-list-header>
          <h2>My Account</h2>
        </ion-list-header>
        <button menuClose ion-item (click)="logout()">
          <ion-icon name="log-out" color="danger" item-end small></ion-icon>
          Logout
        </button>
      </ion-list>

    </ion-content>

  </ion-menu>

  <ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>

